
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');


.texto-fijo {
  position: absolute; /* Posición absoluta para el texto fijo */
  top: 10px;          /* Ajusta según la posición deseada desde la parte superior */
  left: 50%;          /* Alinea el texto en el centro */
  transform: translateX(-50%); /* Centra el texto horizontalmente */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  z-index: 10;        /* Asegura que el texto esté por encima de las imágenes */

}
.texto-fijoAyA {
  font-family: 'Parisienne', cursive;
  font-size: 35px;
  margin-top: 90px;
}

.texto-curvo {
  font-family: 'Parisienne', cursive;
  font-size: 20px;
  margin-top: 65px;
  text-align: center;
}
.menuCasamiento {
  background-color: #511619;
  font-family: 'Amsterdam Three', sans-serif;
}
.invitacion {
  font-size: 20px; 
  font-family: 'Diphylleia', serif;
}
.nombres {
  font-size: 40px;
  font-family: 'Sacramento', cursive;
  text-align: center;
}
.card-title-invitacion{
  text-align: center;
  font-size: 35px; 
}
.invitacionPrecentacion{
  font-style: oblique;
  font-size: 20px;
}
.card.h-100 {
  background-color: rgb(168, 126, 126);
}
.card-body {
  background-color:#511619;
  border-radius: 1px;
  font-style: oblique;
}

.koudfyb-galeri{
  display: flex;
  height: 27rem;
  gap: 1rem;
}
.koudfyb-galeri > div {
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}
.koudfyb-galeri > div:hover {
  flex: 5;
}
.fechanumero {
  font-size: 65px;
  font-family: 'Fraunces', serif;
}
.reloj{
  font-family: 'K2D', sans-serif;
}
.hora {
  font-size: 25px;
  font-family: 'K2D', sans-serif;
}
.fecha {
  font-size: 65px;
  padding-left: 2px;
  padding-right: 5px;
}
span.recepcion {
  font-size: 25px;
}
span.recepcionLugar {
  font-size: 40px;
  font-family: 'Diphylleia', serif;
}
button.btn.btn-outline-light {
  border-radius: 50px;
}
.imgBrindis 
{
  height: 5rem;
  margin-bottom: 15px;
}
#dias, #horas, #minutos, #segundos {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 5px;
  margin: 0 5px;
  font-size: 20px;
}