@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

header.menuCasamiento {
  margin-top: 280px;
}
.texto-fijo {
  position: absolute; /* Posición absoluta para el texto fijo */
  top: 10px;          /* Ajusta según la posición deseada desde la parte superior */
  left: 50%;          /* Alinea el texto en el centro */
  transform: translateX(-50%); /* Centra el texto horizontalmente */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
}
p.invitacion {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
}

.koudfyb-galeri{
  display: flex;
  height: 27rem;
  gap: 1rem;
}
.koudfyb-galeri > div {
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}
.koudfyb-galeri > div:hover {
  flex: 5;
}
.fechanumero {
  font-size: 65px;
  font-family: 'Fraunces', serif;
}
.reloj{
  font-family: 'K2D', sans-serif;
}
.hora {
  font-size: 25px;
  font-family: 'K2D', sans-serif;
}
.fecha {
  font-size: 65px;
  padding-left: 2px;
  padding-right: 5px;
}
span.recepcion {
  font-size: 25px;
}
span.recepcionLugar {
  font-size: 50px;
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;

}

.imgBrindis 
{
  height: 5rem;
  margin-bottom: 15px;
}
#dias, #horas, #minutos, #segundos {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid rgb(77 32 32);
  border-radius: 5px;
  margin: 0 5px;
  font-size: 20px;
}
.circulo {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 450px;
  height: 450px;
  margin-top: 160px;
}

img.elgrandiaPasos {
  height: 4rem;
}

.vertical-line {
  border-right: 1px solid #ccc; /* Color y grosor del borde */
  height: 100%; /* Altura del borde */
}

/* Asegura que la última columna no tenga un borde derecho */
.vertical-line:last-child {
  border-right: none;
}

span.deco {
  margin-left: 15px;
}

span.pasosEvento {
  /* text-align: left; */
  margin-left: 15px;
}

img.elgrandiaPasos {
  margin-left: 35px;
}

img.love {
  height: 5rem;
}

.pasos{
  font-family: 'Diphylleia', serif;
}

h5.elgranDiaLetras {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 65px;
  margin-top: 45px;
  margin-bottom: 45px;
}

.complejoIglesia {
  font-family: 'EB Garamond', serif;
  font-size: 35px;
}

.teofilo{
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7), 
  0 0 20px rgba(255, 255, 255, 0.7), 
  0 0 30px rgba(255, 255, 255, 0.7),
  0 0 40px rgba(255, 255, 255, 0.7),
  0 0 50px rgba(255, 255, 255, 0.7);

}

h1.menuCena {
  font-family: 'EB Garamond', serif;
  font-size: 3.7rem;
}

p.aclaracionMenuEspeciales {
  font-family: 'Diphylleia', serif;
  font-size: 1.00rem;
  text-align: left;
}

h2.menuCena.menuEntradaTitulo {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2.8rem;
}

h5.menuCenaSubtitulo {
  font-family: 'EB Garamond', serif;
  font-size: 1.4rem;
}
.menuCenaValor {
  font-family: 'Diphylleia', serif;
  font-size: 1.25rem;
  text-align: center;
}

.container-form {
  border-top: 1px dashed #4e0303;; /* Línea superior punteada */
  border-bottom: 1px dashed #4e0303;; /* Línea inferior punteada */
  border-right: 1px dashed#4e0303;; /* Línea inferior punteada */
  border-left: 1px dashed #4e0303;; /* Línea inferior punteada */
  padding: 20px;
  width: 80%;
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff; /* Fondo blanco */
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
input[type="text"],

 
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}
.botonesFormulario{
  display: flex; gap: 10px;
}

h2.elgranDiaLetras {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  margin-top: 15px;
}

button.confirma {
  border-radius: 5pc;
}

.metodoPago{
  font-family: 'EB Garamond', serif;
  font-size: 1.8rem;
}

.metodoPagoOpciones{
  font-family: 'Diphylleia', serif;
  font-size: 1.6rem;
}

.nombreApForm{
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
}
.menuEspecial{
  font-family: 'Diphylleia', serif;
  font-size: 1.1rem;
}
button.btn.btn-light.confirma {
  font-family: 'Diphylleia', serif;
  font-size: 1.1rem;
}

a.btn.btn-outline-light {
  font-family: 'Diphylleia', serif;
  font-size: 1.10rem;
  background-color: #4e0303;
  border-radius: 50px;
}

.col-6 {
  text-align: center;
}

p.detallesMenu {
  font-size: 1.2rem;
  font-family: 'Diphylleia', serif;
}

img.arriba {
  margin-left: 50px;
  height: 280px;
}

.modal-body {
  background-color: rgb(255, 255, 255);
}

.modal-header {
  background-color: rgb(255, 255, 255);
}

.botonMenu {
  margin-bottom: 25px;
}

button.btn.btn-light.confirma {
  font-family: 'Diphylleia', serif;
  font-size: 1.10rem;
  background-color: #4e0303;
  border-radius: 50px;
  color: white;
}

button.btn.btn-secondary {
  font-family: 'Diphylleia', serif;
  font-size: 1.10rem;
  background-color: #4e0303;
  border-radius: 50px;
  color: white;
}

.frase{
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  text-align: center;
}


img.imagen-abrir-sobre {
height: 80px;
}

.linea-diagonal {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ffffff; /* Color blanco para las líneas diagonales */
  transform-origin: 0 0;
  top: 50%;
  left: 0;
  
}
.texto {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
   color: #4e0303;
}

p.texto_nombres {
  margin-top: 50px;
  font-size: 40px;
  font-weight: bold;
  color: black;
  text-shadow: -1px 1px 3px #4e0303;

}


.container.text-center.fechanumeroSobre {
  margin-top: 100px;
  color: #4e0303;
}

.linea-horizontal {
  border: none;
  height: 4px;
  background-image: linear-gradient(to right, #4e0303 10%, #fff 10%, #fff 20%, #4e0303 20%, #4e0303 30%, #fff 30%, #fff 40%, #4e0303 40%, #4e0303 50%, #fff 50%, #fff 60%, #4e0303 60%, #4e0303 70%, #fff 70%, #fff 80%, #4e0303 80%, #4e0303 90%, #fff 90%, #fff 100%);
  width: 80%; /* Ajusta la longitud de la línea según tus necesidades */
  margin: 20px 0; /* Espaciado superior e inferior */
}

.calendario {
width: 350px;
margin-top: 35px;
}

img.sobrePrincipal {
  width: 95%;
  border-radius: 15px;
  margin-top: 55px;
}

.sobrePrincipal {
  width: 100px; /* Ajusta el ancho según tus necesidades */
  height: auto; /* Mantén la proporción de la imagen */
  transition: transform 0.3s ease; /* Agrega una transición suave al movimiento */
}

.sobrePrincipal:hover {
  transform: scale(1.1); /* Ajusta el factor de escala según tus preferencias */
}

img.sobreAbrir {
  width: 45%;
  border-radius: 10px;
  margin-top: 65px;
}

.sobreAbrir {
  transition: transform 0.3s ease; /* Agrega una transición suave al movimiento */
  max-width: 100%; /* Asegura que la imagen no supere el ancho del contenedor */
  height: auto; /* Mantiene la relación de aspecto */
}



.sobreAbrir:hover {
  transform: scale(1.1); /* Ajusta el factor de escala según tus preferencias */
}
.cardenvio{
  margin-top: 200px;
}
.card-body.cardBody {
  padding: 50px;
}


h4.tituloConfirma {
  /* font-family: 'Diphylleia', serif; */
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2.0rem;
}

p.card-text.textoConfirma {
  color: #4e0303;
  font-family: 'Diphylleia', serif;
  font-size: 1.4rem;
}

a.btn.btn-primary.botonVolver {
  color: #ffffff;
  background-color: #4e0303;
  font-family: 'Diphylleia', serif;
  font-size: 1.1rem;
}


 /*.texto_principal {
  font-size: 60px; 
  margin-top: 35px;
  font-size: 4.5rem;
  font-weight: bold;
  text-shadow: -1px 1px 3px #4e0303;
  color: black;
}*/

@keyframes aparecer {
  from {
    opacity: 0;
  }
  to {
    opacity: 15;
  }
}
 /* Estilos para el popup */
.popup {
  display: none; /* Por defecto oculto */
  position: fixed; /* Permite que el popup flote sobre el contenido */
  z-index: 1; /* Sitúa el popup por encima del resto del contenido */
  left: 0;
  top: 0;
  width: 100%; /* Cubre toda la pantalla */
  height: 100%;
  overflow: auto; /* Habilita el desplazamiento si el contenido es demasiado grande */
  background-color: rgba(0,0,0,0.5); /* Fondo oscuro con opacidad */
}

      /* Estilos para el contenido del popup */
.popup-content {
  background-color: #fefefe;
  margin: 15% auto; /* Centra el popup verticalmente */
  padding: 20px;
  border: 1px solid #4e0303;
  border-radius: 10px;
  width: 80%; /* Ancho del popup */
  text-align: center;
}

p.inicio-popup {
  text-align: left;
  font-size: 2.3rem;
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
}

p.mensaje-popup {
  font-family: 'Diphylleia', serif;
  font-size: 1.2rem;
}

#loader {
  width: 150px; /* Ancho de la barra de carga */
  height: 120px; /* Altura de la barra de carga */
  margin-top: 95px; /* Ajuste de margen superior */
  background-image: url('dist/img/anillos.png'); /* Ruta de la imagen */
  background-size: cover; /* Ajustar tamaño de la imagen */
  background-position: center; /* Centrar la imagen */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

h4.metodoPago-title {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

p.valortarjeta {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
span.metodoPagoCbu-name {
  /* font-family: 'Diphylleia', serif; */
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
}
span.metodoPagoCbu-number {
  font-family: 'Diphylleia', serif;
  font-size: 15px;
}